<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="ElijaContext" connectionString="metadata=res://*/ElijaModel.csdl|res://*/ElijaModel.ssdl|res://*/ElijaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC_JUAN\SQLEXPRESS;initial catalog=Elija;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ElijaEntities" connectionString="metadata=res://*/Model.ElijaModel.csdl|res://*/Model.ElijaModel.ssdl|res://*/Model.ElijaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USER1-PC;initial catalog=Elija;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ElijaWebServicesBehavior" name="Freakybite.ElijaWebServices.RestServices.ElijaWebServices">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="RESTfulServiceBinding" contract="Freakybite.ElijaWebServices.RestServices.IElijaWebServices" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ElijaWebServicesBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <webHttpBinding>
        <binding name="RESTfulServiceBinding" maxReceivedMessageSize="2048000" maxBufferSize="2048000" maxBufferPoolSize="2048000" transferMode="Streamed">
          <readerQuotas maxArrayLength="2048000" maxStringContentLength="2048000" />
          <security mode="TransportCredentialOnly"></security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>